<h1>New User</h1>
<form actiion="/users/new" method="post">
<p>
	<label for="email">Email:</label>
	<input type="text" name="Email">	
</p>
	<input type="text" name="First_name">	
	<input type="text" name="Last_name">	
	<input type="password" name="Password">	
	<input type="password" name="Password_confirmation">
	<input type="submit" value="Add a User">	
</form>
<a href="/users">Home</a>