<form action="/sessions/delete" method="post">
	<input type="submit" value="Sign Out">
</form>
<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<form action="/posts/<%= @user.id %>" method="post">
	<textarea name="Content"></textarea>
	<input type="submit" value="Post">
</form>
<% @user.posts.each do |u| %>
	<%= u.content %>
<% end %>
<a href="/users">Show Users</a>